@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --primary: rgb(153, 43, 26);
    --light: rgb(238, 231, 231);
    --dark: rgb(17, 5, 3);
    --secondary: rgb(242, 222, 220);
    --rockLobsterFont: 'Lobster', cursive;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--primary);
    color: var(--light);
    height: 60px;
}

a,
a:hover {
    color: inherit;

}

nav ul li>a#logo_title {
    font-family: 'Lobster', cursive;
}